@font-face {
  font-family: "FFF Forward";
  src: url("/fonts/fff-Regular_gdi.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FFF Forward";
  src: url("/fonts/fff-RegularItalic_gdi.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Graphik";
  src: url("/fonts/Graphik-BlackItalic.otf") format("opentype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

.scrollbar-hidden {
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}
