@font-face {
  font-family: "FFF Forward";
  src: url("/fonts/fff-Regular_gdi.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FFF Forward";
  src: url("/fonts/fff-RegularItalic_gdi.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
