
			[data-rs-theme~="lora-trainer"] {
					--rs-font-family-title: Graphik, FFF Forward, Arial, Helvetica, sans-serif;
--rs-font-family-body: FFF Forward, Arial, Helvetica, sans-serif;
--rs-font-family-monospace: Geist Mono, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
--rs-font-weight-regular: 400;
--rs-font-weight-medium: 500;
--rs-font-weight-semibold: 600;
--rs-font-weight-bold: 700;
--rs-font-weight-extrabold: 800;
--rs-font-weight-black: 900;
--rs-font-size-title-1: 6rem;
--rs-line-height-title-1: 6.25rem;
--rs-font-family-title-1: var(--rs-font-family-title);
--rs-font-weight-title-1: var(--rs-font-weight-extrabold);
--rs-letter-spacing-title-1: normal;
--rs-font-size-title-2: 5rem;
--rs-line-height-title-2: 5.25rem;
--rs-font-family-title-2: var(--rs-font-family-title);
--rs-font-weight-title-2: var(--rs-font-weight-extrabold);
--rs-letter-spacing-title-2: normal;
--rs-font-size-title-3: 4rem;
--rs-line-height-title-3: 4.25rem;
--rs-font-family-title-3: var(--rs-font-family-title);
--rs-font-weight-title-3: var(--rs-font-weight-extrabold);
--rs-letter-spacing-title-3: normal;
--rs-font-size-title-4: 3.5rem;
--rs-line-height-title-4: 3.75rem;
--rs-font-family-title-4: var(--rs-font-family-title);
--rs-font-weight-title-4: var(--rs-font-weight-bold);
--rs-letter-spacing-title-4: normal;
--rs-font-size-title-5: 3rem;
--rs-line-height-title-5: 3.25rem;
--rs-font-family-title-5: var(--rs-font-family-title);
--rs-font-weight-title-5: var(--rs-font-weight-bold);
--rs-letter-spacing-title-5: normal;
--rs-font-size-title-6: 2.25rem;
--rs-line-height-title-6: 2.5rem;
--rs-font-family-title-6: var(--rs-font-family-title);
--rs-font-weight-title-6: var(--rs-font-weight-bold);
--rs-letter-spacing-title-6: normal;
--rs-font-size-featured-1: 2rem;
--rs-line-height-featured-1: 2.5rem;
--rs-font-family-featured-1: var(--rs-font-family-body);
--rs-letter-spacing-featured-1: normal;
--rs-font-size-featured-2: 1.5rem;
--rs-line-height-featured-2: 2rem;
--rs-font-family-featured-2: var(--rs-font-family-body);
--rs-letter-spacing-featured-2: normal;
--rs-font-size-featured-3: 1.25rem;
--rs-line-height-featured-3: 1.75rem;
--rs-font-family-featured-3: var(--rs-font-family-body);
--rs-letter-spacing-featured-3: normal;
--rs-font-size-body-1: 1.125rem;
--rs-line-height-body-1: 1.75rem;
--rs-font-family-body-1: var(--rs-font-family-body);
--rs-letter-spacing-body-1: normal;
--rs-font-size-body-2: 1rem;
--rs-line-height-body-2: 1.5rem;
--rs-font-family-body-2: var(--rs-font-family-body);
--rs-letter-spacing-body-2: normal;
--rs-font-size-body-3: 0.875rem;
--rs-line-height-body-3: 1.25rem;
--rs-font-family-body-3: var(--rs-font-family-body);
--rs-letter-spacing-body-3: normal;
--rs-font-size-caption-1: 0.75rem;
--rs-line-height-caption-1: 1rem;
--rs-font-family-caption-1: var(--rs-font-family-body);
--rs-letter-spacing-caption-1: normal;
--rs-font-size-caption-2: 0.625rem;
--rs-line-height-caption-2: 0.75rem;
--rs-font-family-caption-2: var(--rs-font-family-body);
--rs-letter-spacing-caption-2: normal;
--rs-unit-base: 4px;
--rs-unit-x1: 4px;
--rs-unit-x2: 8px;
--rs-unit-x3: 12px;
--rs-unit-x4: 16px;
--rs-unit-x5: 20px;
--rs-unit-x6: 24px;
--rs-unit-x7: 28px;
--rs-unit-x8: 32px;
--rs-unit-x9: 36px;
--rs-unit-x10: 40px;
--rs-radius-small: 0px;
--rs-radius-medium: 0px;
--rs-radius-large: 0px;
--rs-color-background-warning: oklch(0.5 0 0);
--rs-color-brand: oklch(0 0 0);
--rs-color-white: oklch(1 0 0);
--rs-color-black: oklch(0 0 0);
--rs-color-on-background-warning: oklch(1 0 0);
--rs-color-rgb-background-warning: 99.093, 99.093, 99.093;
--rs-color-on-brand: oklch(1 0 0);
--rs-color-rgb-white: 255, 255, 255;
--rs-color-rgb-black: 0, 0, 0;
--rs-duration-rapid: 100ms;
--rs-duration-fast: 200ms;
--rs-duration-medium: 300ms;
--rs-duration-slow: 400ms;
--rs-easing-standard: cubic-bezier(0.4, 0, 0.2, 1);
--rs-easing-accelerate: cubic-bezier(0.4, 0, 1, 1);
--rs-easing-decelerate: cubic-bezier(0, 0, 0.2, 1);
--rs-shadow-raised: 0px 1px 5px -4px rgba(0, 0, 0, 0.5), 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
--rs-shadow-overlay: 0px 5px 10px 0px rgba(0, 0, 0, 0.05), 0px 15px 25px 0px rgba(0, 0, 0, 0.07);
--rs-viewport-m-min: 660;
--rs-viewport-l-min: 900;
--rs-viewport-xl-min: 1280;
--rs-z-index-relative: 10;
--rs-z-index-absolute: 100;
--rs-z-index-fixed: 200;
			}
		
			[data-rs-theme~="lora-trainer"][data-rs-color-mode="light"] {
					--rs-color-background-primary: oklch(0 0 0);
--rs-color-background-primary-faded: oklch(0.97 0.02 0);
--rs-color-border-primary: oklch(-0.08 0 0);
--rs-color-border-primary-faded: oklch(0.92 0.03 0);
--rs-color-foreground-primary: oklch(0.5 0 0);
--rs-color-background-critical: oklch(0.3 0 0);
--rs-color-background-critical-faded: oklch(0.97 0.02 0);
--rs-color-border-critical: oklch(0.22 0 0);
--rs-color-border-critical-faded: oklch(0.92 0.03 0);
--rs-color-foreground-critical: oklch(0.5 0 0);
--rs-color-background-warning-faded: oklch(0.97 0.04 0);
--rs-color-border-warning: oklch(0.42 0 0);
--rs-color-border-warning-faded: oklch(0.92 0.05 0);
--rs-color-foreground-warning: oklch(0.5 0 0);
--rs-color-background-positive: oklch(0.2 0 0);
--rs-color-background-positive-faded: oklch(0.97 0.02 0);
--rs-color-border-positive: oklch(0.12 0 0);
--rs-color-border-positive-faded: oklch(0.92 0.03 0);
--rs-color-foreground-positive: oklch(0.5 0 0);
--rs-color-background-neutral: oklch(0.92 0 0);
--rs-color-background-neutral-faded: oklch(0.97 0.005 0);
--rs-color-border-neutral: oklch(0 0 0 / 0.12);
--rs-color-border-neutral-faded: oklch(0 0.005 0 / 0.08);
--rs-color-foreground-neutral: oklch(0.2 0 0);
--rs-color-foreground-neutral-faded: oklch(0.45 0 0);
--rs-color-background-disabled: oklch(0.95 0 0);
--rs-color-background-disabled-faded: oklch(0.98 0 0);
--rs-color-border-disabled: oklch(0 0 0 / 0.06);
--rs-color-foreground-disabled: oklch(0.84 0 0);
--rs-color-background-elevation-base: oklch(1 0 0);
--rs-color-background-elevation-raised: oklch(1 0 0);
--rs-color-background-elevation-overlay: oklch(1 0 0);
--rs-color-background-page: oklch(1 0 0);
--rs-color-background-page-faded: oklch(0.97 0 0);
--rs-color-on-background-primary: oklch(1 0 0);
--rs-color-rgb-background-primary: 0, 0, 0;
--rs-color-rgb-background-primary-faded: 257.5755, 239.853, 244.41750000000002;
--rs-color-on-background-critical: oklch(1 0 0);
--rs-color-rgb-background-critical: 45.696, 45.696, 45.696;
--rs-color-rgb-background-critical-faded: 257.5755, 239.853, 244.41750000000002;
--rs-color-rgb-background-warning-faded: 269.58599999999996, 234.5745, 243.882;
--rs-color-on-background-positive: oklch(1 0 0);
--rs-color-rgb-background-positive: 21.9555, 21.9555, 21.9555;
--rs-color-rgb-background-positive-faded: 257.5755, 239.853, 244.41750000000002;
--rs-color-on-background-neutral: oklch(0 0 0);
--rs-color-rgb-background-neutral: 228.378, 228.378, 228.378;
--rs-color-rgb-background-neutral-faded: 248.166, 243.7035, 244.82549999999998;
--rs-color-rgb-background-disabled: 238.29749999999999, 238.29749999999999, 238.29749999999999;
--rs-color-rgb-background-disabled-faded: 248.2935, 248.2935, 248.2935;
--rs-color-rgb-background-elevation-base: 255, 255, 255;
--rs-color-rgb-background-elevation-raised: 255, 255, 255;
--rs-color-rgb-background-elevation-overlay: 255, 255, 255;
--rs-color-rgb-background-page: 255, 255, 255;
--rs-color-rgb-background-page-faded: 244.953, 244.953, 244.953;
			}
		
			[data-rs-theme~="lora-trainer"][data-rs-color-mode="dark"] {
					--rs-color-background-primary: oklch(1 0 0);
--rs-color-background-primary-faded: oklch(0.25 0 0);
--rs-color-border-primary: oklch(1.1 0 0);
--rs-color-border-primary-faded: oklch(0.35 0 0);
--rs-color-foreground-primary: oklch(0.75 0 0);
--rs-color-background-critical: oklch(0.7 0 0);
--rs-color-background-critical-faded: oklch(0.25 0 0);
--rs-color-border-critical: oklch(0.8 0 0);
--rs-color-border-critical-faded: oklch(0.35 0 0);
--rs-color-foreground-critical: oklch(0.75 0 0);
--rs-color-background-warning-faded: oklch(0.25 0 0);
--rs-color-border-warning: oklch(0.6 0 0);
--rs-color-border-warning-faded: oklch(0.35 0 0);
--rs-color-foreground-warning: oklch(0.75 0 0);
--rs-color-background-positive: oklch(0.8 0 0);
--rs-color-background-positive-faded: oklch(0.25 0 0);
--rs-color-border-positive: oklch(0.9 0 0);
--rs-color-border-positive-faded: oklch(0.35 0 0);
--rs-color-foreground-positive: oklch(0.75 0 0);
--rs-color-background-neutral: oklch(0.36 0 0);
--rs-color-background-neutral-faded: oklch(0.25 0.01 0);
--rs-color-border-neutral: oklch(1 0 0 / 0.16);
--rs-color-border-neutral-faded: oklch(1 0.01 0 / 0.08);
--rs-color-foreground-neutral: oklch(0.96 0 0);
--rs-color-foreground-neutral-faded: oklch(0.81 0 0);
--rs-color-background-disabled: oklch(0.28 0 0);
--rs-color-background-disabled-faded: oklch(0.23 0 0);
--rs-color-border-disabled: oklch(0.28 0 0);
--rs-color-foreground-disabled: oklch(0.4 0 0);
--rs-color-background-elevation-base: oklch(0.2 0 0);
--rs-color-background-elevation-raised: oklch(0.21 0 0);
--rs-color-background-elevation-overlay: oklch(0.22 0 0);
--rs-color-background-page: oklch(0.16 0 0);
--rs-color-background-page-faded: oklch(0.18 0 0);
--rs-color-on-background-primary: oklch(0 0 0);
--rs-color-rgb-background-primary: 255, 255, 255;
--rs-color-rgb-background-primary-faded: 33.5325, 33.5325, 33.5325;
--rs-color-on-background-critical: oklch(0 0 0);
--rs-color-rgb-background-critical: 158.22750000000002, 158.22750000000002, 158.22750000000002;
--rs-color-rgb-background-critical-faded: 33.5325, 33.5325, 33.5325;
--rs-color-rgb-background-warning-faded: 33.5325, 33.5325, 33.5325;
--rs-color-on-background-positive: oklch(0 0 0);
--rs-color-rgb-background-positive: 189.516, 189.516, 189.516;
--rs-color-rgb-background-positive-faded: 33.5325, 33.5325, 33.5325;
--rs-color-on-background-neutral: oklch(1 0 0);
--rs-color-rgb-background-neutral: 60.996, 60.996, 60.996;
--rs-color-rgb-background-neutral-faded: 37.9185, 31.696499999999997, 33.354;
--rs-color-rgb-background-disabled: 40.774499999999996, 40.774499999999996, 40.774499999999996;
--rs-color-rgb-background-disabled-faded: 28.815, 28.815, 28.815;
--rs-color-rgb-background-elevation-base: 21.9555, 21.9555, 21.9555;
--rs-color-rgb-background-elevation-raised: 24.225, 24.225, 24.225;
--rs-color-rgb-background-elevation-overlay: 26.52, 26.52, 26.52;
--rs-color-rgb-background-page: 13.209, 13.209, 13.209;
--rs-color-rgb-background-page-faded: 17.5185, 17.5185, 17.5185;
			}
		